/* Global styles */
body {
	font-family: Palatino, serif;
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
}

/* Header styles */
header {
	background-color: #fff;
	color: #000;
	text-align: center;
}

/* Footer styles */
footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 15px;
}

/* Link styles */
a:link,
a:visited {
	color: rgb(54, 128, 152);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: rgb(54, 128, 152);
	text-decoration-thickness: 0.1em;
	vertical-align: text-bottom;
	margin-bottom: -0.2em; /* half of the distance you want to move the underline */
  }

/* Navigation bar */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Navigation links */
nav li {
	float: left;
	margin: 0 10px;
}

nav a {
    position: relative;
	padding: 10px;
}

nav a:hover {
    text-decoration: none;
}

nav a:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: #000;
}

nav a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: transparent;
}


/* Two column view */
.row {
	display: flex;
	flex-wrap: wrap;
}

.column {
	flex: 1;
	padding: 10px;
	box-sizing: border-box;
}

/*** Main content styles ***/
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
}

#About{
	flex-direction: row;
}

#left-column {
	flex-basis: 50%;
	margin-right: 20px;
}

#right-column {
	flex-basis: 50%;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}
