/* Global styles */
body {
	font-family: Palatino, serif;
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
}

/* Header styles */
header {
	background-color: #fff;
	color: #000;
	text-align: center;
}

/* Footer styles */
footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 15px;
}

/* Link styles */
a:link,
a:visited {
	color: rgb(54, 128, 152);
	text-decoration: none;
}

a:hover {
	color: red;
}

/* Navigation bar */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Navigation links */
nav li {
	float: left;
}

nav a {
	display: block;
	padding: 15px;
	color: #000;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	border-bottom: 0 solid transparent;
	transition: border-width 0.2s ease-in-out;
}

nav a:hover {
	border-bottom: 3px solid #000;
	color: inherit;
}

/*** Main content styles ***/
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
}

#About{
	flex-direction: row;
}

#left-column {
	flex-basis: 50%;
	margin-right: 20px;
}

#right-column {
	flex-basis: 50%;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}
