/* Global styles */
body {
	font-family: Palatino, serif;
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
}

img {
	filter: grayscale(100%);
	width: 200px;
	height: auto;
}

/* Header styles */
header {
	background-color: #fff;
	color: #000;
	text-align: center;
}

/* Footer styles */
footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 15px;
}

/* Link styles */
a:link,
a:visited {
	text-decoration: none;
}

nav a:link,
nav a:visited {
	color: #000;
}

nav a:hover {
	color: #000;
	text-decoration: underline;
	text-decoration-color: #000;
	text-decoration-thickness: 0.1em;
	vertical-align: text-bottom;
	margin-bottom: -0.2em;
}

a:hover {
	color: rgb(54, 128, 152);
	text-decoration: underline;
	text-decoration-color: rgb(54, 128, 152);
	text-decoration-thickness: 0.1em;
	vertical-align: text-bottom;
	margin-bottom: -0.2em;
}

.hyperlinks {
	color: rgb(54, 128, 152);
}

/* Navigation Bar*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	color: #000;
	padding: 10px;
	background-color: #f2f2f2;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
	margin-right: 10px;
}

nav a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #000;
}

/* Two column view */
.row {
	display: flex;
	flex-wrap: wrap;
}

.column {
	flex: 1;
	padding: 10px;
	box-sizing: border-box;
}

/*** Main content styles ***/
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
}

#About{
	flex-direction: row;
}

#left-column {
	flex-basis: 50%;
	margin-right: 20px;
}

#right-column {
	flex-basis: 50%;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}
